{% assign selected_variant = product.selected_or_first_available_variant %}

{% assign featured_image = current_variant.featured_image | default: product.featured_image %}


<div id="MainProduct-{{ section.id }}" >
{% form 'product', product, id: 'product-form', novalidate: 'novalidate', class: 'container-wrapper py-900 flex flex-wrap gap-900' %}
      <input
        type="hidden"
        name="id"
        value="{{ selected_variant.id }}">
  <div class="@container basis-0 grow-9 min-w-[50%]">
    <div class="grid grid-cols-1 @md:grid-cols-2 gap-2">
      <div id="image-{{ section.id }}" class="col-span-2 aspect-square">
       {{
         selected_variant.featured_image
       | image_url: width: 1200, height: 1200, crop: 'center'
       | image_tag: preload: true, alt: selected_variant.featured_image.alt, class: 'w-full h-full objerct-cover' }}
      </div>
     

      {% for image in product.images %}
        <a href="{{ image.src | img_url: 'large' }}">
          <img
            class="w-full"
            src="{{ image.src | img_url: '600x600', crop: 'center' }}"
            alt="{{ image.alt | escape }}">
        </a>
      {% endfor %}
    </div>
  </div>
  <div class="@container basis-[35%] min-w-[20rem] grow ">
  <div class="sticky top-gutter">
  


    
      {% for block in section.blocks %}
        {% case block.type %}
          {% when 'vendor' %}
          <div class="my-3">
            <span class="text-xs text-gray-500">{{ product.vendor }}</span>
          </div>
          {% when 'title' %}
          <h1 class="text-[8cqi]">{{ product.title }}</h1>
          {% when 'price' %}
          <div class="my-3" id="price-{{ section.id }}">
            <span class="text-base text-gray-500 line-through">{{ selected_variant.compare_at_price | money }}</span>
            <span class="text-400 text-gray-900">{{ selected_variant.price | money }}</span>
            {% if selected_variant.price < selected_variant.compare_at_price %}
              <span class="px-5 py-1 text-sm font-bold bg-red-500 rounded-full text-white mx-4">Sale</span>
            {% endif %}
          </div>
          {% when 'variant_selector' %}
          <div class="my-3">
            {% unless product.has_only_default_variant %}
              <variant-selector data-url="{{ product.url }}" data-section="{{ section.id }}">
                {% for option in product.options_with_values %}
                  <label for="Option-{{ section.id }}-{{ forloop.index0 }}">{{ option.name }}</label>

                  <div class="my-2">
                    <select
                      name="options[{{ option.name | escape }}]"
                      id="Option-{{ section.id }}-{{ forloop.index0 }}"
                      class="w-full border py-3 px-3">
                      {% for value in option.values %}
                        <option
                          value="{{ value | escape }}"
                          {% if option.selected_value == value %}
                          selected="selected"
                          {% endif %}>
                          {{ value }}
                        </option>
                      {% endfor %}
                    </select>
                  </div>

                  <script type="application/json">
                    {{ product.variants | json }}
                  </script>

                {% endfor %}
              </variant-selector>
            {% endunless %}
          </div>

          {% when 'quantity' %}
          <div class="my-3">
            <label for="Quantity-{{ section.id }}">Quantity</label>

            <div class="my-2">
              <input
                type="number"
                name="quantity"
                id="Quantity-{{ section.id }}"
                value="1"
                min="1"
                class="w-full border px-3 py-3">
            </div>
          </div>
          {% when 'description' %}
          <div class="my-3">
            <p class="text-gray-700">{{ product.description }}</p>
          </div>

          {% when 'checkout_buttons' %}
          <div class="my-3">
            <button
              type="submit"
              name="add"
              class="w-full px-6 py-4 bg-gray-900 text-white hover:bg-gray-700 rounded-sm my-2"
              {% if selected_variant.available == false %}
              disabled
              {% endif %}>
              {% if selected_variant.available == false %}
                Sold out
              {% else %}
                Add to cart
              {% endif %}
            </button>
          </div>
      {% else %}

        {% endcase %}
      {% endfor %}
    
      </div>
  </div>
  {% endform %}
</div>

<script>
  class VariantSelector extends HTMLElement {
    constructor() {
      super();
      this.addEventListener("change", this.onVariantChange);
    }

    onVariantChange() {
      this.getSelectedOptions();
      this.getSelectedVariant();

      if (this.currentVariant) {
        this.updateURL();
        this.updateFormID();
        this.updatePrice();
        this.updateImage();
      }
    }

    getSelectedOptions() {
      this.options = Array.from(this.querySelectorAll('select'), (select) => select.value);
      console.log(this.options);
    }

    getVariantJSON() {
      this.variantData = this.variantData || JSON.parse(this.querySelector('[type="application/json"]').textContent);
      return this.variantData;
    }

    getSelectedVariant() {
      this.currentVariant = this.getVariantJSON().find((variant) => {
        const findings = !variant.options.map((option, index) => {
          return this.options[index] === option;
        }).includes(false);

        if (findings) 
          return variant;
        



      });

      console.log(this.currentVariant);
    }

    updateURL() {
      if (!this.currentVariant) 
        return;
      



      window.history.replaceState({}, '', `${
        this.dataset.url
      }?variant=${
        this.currentVariant.id
      }`);
    }

    updateFormID() {
      const form_input = document.querySelector("#product-form").querySelector('input[name="id"]');
      form_input.value = this.currentVariant.id;
    }

    updatePrice() {
        fetch(`${this.dataset.url}?variant=${this.currentVariant.id}&section_id=${this.dataset.section}`)
        .then((response) => response.text())
        .then((responseText) => {
            const id = `price-${this.dataset.section}`;
            const html = new DOMParser().parseFromString(responseText, 'text/html');

            const oldPrice = document.getElementById(id);
            const newPrice = html.getElementById(id);

            if(oldPrice && newPrice) oldPrice.innerHTML = newPrice.innerHTML;
        });
    }

    updateImage() {
        fetch(`${this.dataset.url}?variant=${this.currentVariant.id}&section_id=${this.dataset.section}`)
        .then((response) => response.text())
        .then((responseText) => {
            const id = `image-${this.dataset.section}`;
            const html = new DOMParser().parseFromString(responseText, 'text/html');

            const oldImage = document.getElementById(id);
            const newImage = html.getElementById(id);

            if(oldImage && newImage) oldImage.innerHTML = newImage.innerHTML;
        });
    }
  }

  customElements.define("variant-selector", VariantSelector);
</script>


{% schema %}
  {
    "name": "Product",
    "blocks": [
      {
        "type": "vendor",
        "name": "Vendor",
        "limit": 1
      },
      {
        "type": "title",
        "name": "Title",
        "limit": 1
      },
      {
        "type": "price",
        "name": "Price",
        "limit": 1
      },
      {
        "type": "variant_selector",
        "name": "Variant Selector",
        "limit": 1
      }, {
        "type": "quantity",
        "name": "Quantity",
        "limit": 1
      }, {
        "type": "description",
        "name": "Description",
        "limit": 1
      }, {
        "type": "checkout_buttons",
        "name": "Checkout Buttons",
        "limit": 1
      }
    ]
  }
{% endschema %}